<div class="row">
    <div class="col-6">
        <input type="submit" class="btn btn-danger form-control" value="Delete Trip" />
    </div>
    <div class="col-6">
        <a asp-action="List" class="btn btn-success form-control">Back</a>
    </div>
</div>