@model string

<a class="btn btn-primary text-xl-center" style="width: 40%; align-content: center;" asp-action="Edit" asp-route-id="@Model">
    <i class="fas fa-edit">&ensp; Edit Profile</i>
</a>

<a class="btn btn-primary text-xl-center" style="width:40%; align-content:center;" asp-action="Index" asp-route-id="@Model">
    <i class="fas fa-edit">&ensp; Back</i>
</a>